<h1>Escuela de Especialidades</h1>
<p>
	Esta es una aplicacion de demostracion para la escuela de 
	especialidades de la Fuerza Aerea de Chile.
	<br/>
	Ha sido desarrollada por 
	<a href="http://magrocode.com">MagroCode</a>
</p>

<%= link_to "Sign up now!", "#" , :class => "signup_button round" %>
