<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", "mailto:contacto@magrocode.com" %></li>
			<li><a href="http://blog.magrocode.com/">Blog</a></li>
			<li><a href="http://www.magrocode.com/">MagroCode.com</a></li>
		</ul>
	</nav>
</footer>
